.container{
  display: flex;
}

.grid-user,
.grid-computer {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
  margin: 20px;
}

.grid-computer{
  background-color: limegreen;
}

.grid div {
    width: 40px;
    height: 40px;
    background-color: red;
}

.grid-display {
  width: 400px;
  height: 400px;
  margin: 20px;
  background-color: yellow;
}