@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --titleOne: #b5e48c;
  --titleTwo: #d9ed92;
  --titleColor: #354f52;
  --cardHead: #718355;
  --cardBody: #eff1ef;
  --desc: #333d29;
  --headone: #97a97c;
  --headtwo: #e9f5db;
}

body {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.6rem;
}

.titlebar {
  font-family: "Pacifico", cursive;
  background-image: linear-gradient(to right, var(--titleOne), var(--titleTwo));
  color: var(--titleColor);
  padding: 5rem;
  font-size: 3rem;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5rem;
}

.bookcontainer {
  width: 80rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.display h2 {
  color: var(--desc);
  font-size: 5rem;
  font-family: "Caveat", cursive;
  margin-bottom: 2rem;
}

.display p {
  font-size: 3rem;
  margin-bottom: 1.6rem;
}

#addBook {
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-image: linear-gradient(var(--titleOne), var(--titleTwo));
  display: inline-block;
  width: 6rem;
  height: 6rem;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 4rem;
}

#addBook:hover {
  transform: scale(1.1);
  background-color: var(--desc);
  border: 1px solid var(--desc);
}

#infoBox {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.card {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--cardBody);
  line-height: 6rem;
  font-size: 2rem;
}

.onlyColor {
  font-size: 3rem;
  padding: 1rem;
  background-image: linear-gradient(to right, var(--titleOne), var(--titleTwo));
  color: var(--desc);
  border-bottom: 3px solid var(--desc);
}

.info {
  font-weight: 600;
}

section .display .bookCard {
  background-image: linear-gradient(var(--headone), var(--headtwo));
  border: 1px solid var(--desc);
  padding: 1.2rem;
  width: 20rem;
  height: 26rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section .display .bookCard:hover {
  transform: scale(1.03);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s;
}


section .display .bookInfo {
  font-family: "Caveat", cursive;
  font-size: 1.8rem;
  line-height: 1.5rem;
}

section .display .infoHeader {
  font-family: "Shadows Into Light", cursive;
  font-size: 2rem;
  font-weight: 600;
}

.removeBook {
  justify-self: flex-end;
  align-self: flex-end;
  background-color: #cc0000;
  cursor: pointer;
  width: 5rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
}

.removeBook:hover {
  transform: scale(0.98);
  color: white;
}

/* for the popup form */

.loginPopup {
  position: relative;
  text-align: center;
  width: 100%;
}
.formPopup {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 3px solid var(--headone);
  z-index: 9;
}
.formContainer {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
}
.formContainer input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
}
.formContainer input[type="text"]:focus,
.formContainer input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
.formContainer .btn {
  padding: 12px 20px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.8;
}
.formContainer .cancel {
  background-color: #cc0000;
}
.formContainer .btn:hover,
.openButton:hover {
  opacity: 1;
}

.radioBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
