* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --body-color: #dce1de;
  --board-color: #412234;
  --marker-color: #7d7abc;
}

section {
  background-color: var(--body-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.header {
  color: var(--board-color);
  font-family: "Comic Sans", cursive;
  padding: 1em;
  font-size: 4rem;
  font-weight: 800;
}

.console {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.board {
  width: 50vw;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-content: center;
}

.cell {
  cursor: pointer;
  font-family: "Comic Sans MS", cursive;
  height: 100px;
  width: 100px;
  font-size: 65px;
  text-align: center;
  vertical-align: middle;
  color: var(--marker-color);
  background-color: var(--board-color);
  border: 2px solid var(--marker-color);
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: 0;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: 0;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: 0;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:last-child {
  border-right: 0;
}

.messageBox,
.popUp {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(8, 0, 27, 0.9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

#restart {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 10px;
}

#restart:hover {
  background-color: rgba(55, 4, 71, 0.4);
  color: white;
  border-color: white;
}

.messageBox,
.popUp button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 10px;
}

.messageBox,
.popUp button:hover {
  background-color: rgba(55, 4, 71, 0.4);
  color: white;
  border-color: white;
}

.popUp {
  display: flex;
  justify-content: space-evenly;
}
