@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  
}

.container {
  padding: 1.6rem;
  height: 100%;
  position: relative;
}

.bg {
  background-color: black;
  background-image: url("../images/background.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a,
a:active,
a:visited {
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main.flex {
  flex-direction: row;
  justify-content: center;
}
