

.card {
  flex-direction: column;
  justify-content: center;
  margin: 0 1.6rem;
  width: 30%;
  height: 69vh;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.forecast {
  flex-direction: column;
  flex: 1;
  margin: 0 1.6rem;
  width: 30%;
  height: 69vh;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
}

.weather-div {
  height: 80%;
  flex-direction: column;
  justify-content: space-around;
}

.weather-div h1 {
  cursor: pointer;
}

@media (max-width: 750px) {
  .card {
    width: 90%;
    flex-wrap: wrap;
    font-size: 1.2rem;
  }
}